body{
	background-color: darkgray;
	margin: 0px;
	padding: 0px;
}
.topnav {
	background-color: black;
	overflow: hidden;
}

.topnav a{
	float: left;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover{
	background-color: #ddd;
	color: black;
}

.topnav a.active{
	background-color: greenyellow;
	color: black;
}

.box{
	text-align: center;
	border-style: solid;
	margin: 50px;
	padding: 50px;
}

footer {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: white;
	background-color: black;

}

table{
	text-align: center;
	width: 100%;
	border: 0px solid black;
	padding: 50px;
}


.box{
	padding: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-left: 50px;
}

img{
	width: 100%;
	height: 100%;
}

.img-profil{
	width: 20%; 
}

.img-logo{
	width: 5%;
	height: 5%;
}
.img-logo1{
	width: 7%;
	height: 7%;
}

.table1{
	width: 100%;
	height: 50%;	
	margin-top: 0%;
}