*{
    color: black;
    font-family:'Courier New';
    font-size: medium;
}
.card {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 250px;
    margin: 30px 30px 10px 30px;
    border-radius: 10px;
    background-color:blanchedalmond;
    border: 1px solid black;
    padding: 10px;


}
  
.card:hover {
    box-shadow: 10px 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container h4{
    padding: 8px 15px 10px;
    text-align: center;
    font-style: italic;
    

}
.container {
    font-size: 100px;
}
.container > p{
    font-size: 10px;
}
.card4{
    display: flex;
    flex-wrap: wrap;
}

h1{
    text-align: center;
}

.tell{
    text-align: center;
}
img{
    width: 250px;
    height: 150px;
    border-radius: 5%;
}


